version: '3.8'
services:
  app:
    build: .
    ports:
      - target: 5173
        published: 5173
        protocol: tcp
        mode: host
      - target: 4242
        published: 4242
        protocol: tcp
        mode: host
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
